<main>

	
	<div>
	<% if user_signed_in? %>
	<button  class="Users-button ubut"><%= link_to "Edit Profile", '/editprofile' , method: :get %></button>
	<button  class="Users-button ubut"><%= link_to "Users", '/allusers' , method: :post %></button>
	<div id="new-post-form-container">
		<%= form_for @post, remote: true do |f| %>
			<%= f.label :content, "Add Post" %>
			<%= f.text_area :content, placeholder: "Type Here" %>
			<%= f.submit %>
		<% end %>
	</div>
	<% end %>

	<div id="posts-list-container">
		<ul id="posts-list">
			<% @posts.each do |post| %>
				<%= render 'post', p: post %>
			<% end %>
		</ul>
	</div>
	</div>

	<div id="All-friends">
	<% if user_signed_in? %>
	<h1>All Your Friends</h1>
	<% Friendship.where(user:current_user).each do |fr|%>
	<div id= "friend-<%= fr.id%>" >
	<div id="all-friend-div">
	<p><%= fr.friend.email%> &nbsp;</p>
	<p class="post-destroy-link">
			<!-- <a data-remote="true" rel="nofollow" data-method="delete" href="/deletefriend/#{fr.id}">X</a> -->
			<%= link_to "X", "/deletefriend/#{fr.id}", remote: true,  method: :delete %>
		</p>
		</div>
	</div>
	<%end%>
	<%end%>
	</div>
	
	

</main>